* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:focus {
    outline: none; }

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-rendering: optimizeLegibility; }

.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%; }

.row {
  max-width: 1075px;
  padding: 0 3%;
  margin: 0 auto; }

section {
  padding: 10px 50px;
  margin-bottom: 30px; }

.box {
  padding: 1%; }

p {
  font-size: 130%; }

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px; }

h1 {
  word-spacing: 4px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%; }

h2 {
  font-size: 180%;
  word-spacing: 3px;
  text-align: center;
  margin-bottom: 15px; }
  h2:after {
    display: block;
    height: 3px;
    background-color: #66A182;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 10px; }

h3 {
  font-size: 110%;
  margin-bottom: 10px;
  text-align: center; }

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../images/suit.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/suit.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  header .scroll div {
    display: block;
    margin: 0 auto;
    text-align: center; }

.hero-text-box {
  margin: 0 auto;
  text-align: center;
  font-size: 90%;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  width: 400px;
  max-width: 100%;
  text-transform: uppercase; }
  .hero-text-box h1 {
    letter-spacing: 4px; }
  .hero-text-box p {
    line-height: 120%;
    font-size: 140%;
    letter-spacing: 1px; }
  .hero-text-box .day {
    margin-bottom: 0; }

.main-nav {
  float: right;
  list-style: none;
  margin-top: 30px;
  letter-spacing: 3px; }
  .main-nav li {
    display: inline-block;
    margin-left: 25px;
    font-size: 110%; }
  .main-nav a:link, .main-nav a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding: 6px 0;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s; }
  .main-nav a:hover, .main-nav a:active {
    border-bottom: 2px solid #66A182; }

.about img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  border: 1px solid #66A182; }
.about p {
  max-width: 250px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  word-spacing: 1px; }
.about h3 {
  margin-top: 10px; }

.parallax {
  height: 200px;
  vertical-align: middle; }
  .parallax p {
    color: white;
    max-width: 500px;
    display: block;
    margin: auto; }

#first-suit {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.65))), url(../images/dress.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.65)), url(../images/dress.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#second-rack {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.65))), url(../images/rack.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.65)), url(../images/rack.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#third-spool {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.65))), url(../images/spool.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.65)), url(../images/spool.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.services .row div {
  min-height: 150px; }
.services div {
  text-align: center; }
.services p {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px; }
.services i {
  font-size: 500%;
  color: #66A182; }
.services .ion-ios-snowy:before {
  -webkit-transform: scale(1.6);
          transform: scale(1.6); }
.services h4 {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px; }

.our-community img {
  height: 130px;
  display: block;
  margin: 0 auto; }
.our-community p {
  max-width: 700px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px; }
.our-community .row {
  margin-bottom: 20px; }

.contact-us iframe {
  width: 100%;
  min-height: 1200px; }
.contact-us h4 {
  margin-bottom: 3px; }
.contact-us p {
  font-size: 120%; }

.our-location {
  padding: 0;
  margin-bottom: 0;
  border-top: 2px solid #66A182;
  }
  .our-location iframe {
    width: 100%;
    height: 300px;
    /*pointer-events: none;*/
  }

@media only screen and (max-width: 768px) {
  section {
    padding: 10px 15px;
  }

  #kyong-box {
    margin-top: 20px; }

  .row div {
    margin-top: 20px; }

  .contact-us {
    display: block;
    margin: 0 auto;
  }

  header,
  .first-suit,
  .second-rack,
  .third-spool {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.65)));
  }
}
