// VARIABLES

$lighter-color: #CAFFB9;
$primary-color: #66A182;
$background: #f0f0f0;


// RESET

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
    line-height: 0;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-rendering: optimizeLegibility;
}

.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
}

// ------------------------------------------------- //
// ------------------- REUSABLE ------------------- //
// ------------------------------------------------- //

.row {
  max-width: 1075px;
  padding: 0 3%;
  margin: 0 auto;
}

section {
    padding: 10px 50px;
    margin-bottom: 30px;
}

.box {
    padding: 1%;
}

p {
  font-size: 130%;
}

// ------------------------------------------------- //
// ------------------- HEADINGS ------------------- //
// ------------------------------------------------- //

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    word-spacing: 4px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
}

h2 {
    font-size: 180%;
    word-spacing: 3px;
    text-align: center;
    margin-bottom: 15px;

    &:after {
        display: block;
        height: 3px;
        background-color: $primary-color;
        content: " ";
        width: 200px;
        margin: 0 auto;
        margin-top: 10px;
    }
}

h3 {
    font-size: 110%;
    margin-bottom: 10px;
    text-align: center;
}

// ------------------------------------------------- //
// ------------------- HEADER ------------------- //
// ------------------------------------------------- //

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/suit.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .scroll {
      div {
        display: block;
        margin: 0 auto;
        text-align: center;
      }
    }
}

.hero-text-box {
  margin: 0 auto;
  text-align: center;
  font-size: 90%;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  width: 400px;
  text-transform: uppercase;

  h1 {
    letter-spacing: 4px;
  }

  p {
    line-height: 120%;
    font-size: 140%;
    letter-spacing: 1px;
  }

  .day {
    margin-bottom: 0;
  }
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
    letter-spacing: 3px;

    li {
        display: inline-block;
        margin-left: 25px;
        font-size: 110%;
    }

    a {
        &:link,
        &:visited {
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            font-size: 90%;
            border-bottom: 2px solid transparent;
            padding: 6px 0;
            transition: border-bottom 0.2s;
        }

        &:hover,
        &:active {
            border-bottom: 2px solid $primary-color;
        }
    }
}

.about {
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 1px solid $primary-color;
  }

  p {
    max-width: 250px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    word-spacing: 1px;
  }

  h3 {
    margin-top: 10px;
  }


}

// ------------------------------------------------- //
// ------------------- PARALLAX ------------------- //
// ------------------------------------------------- //
.parallax {
  height: 200px;
  vertical-align: middle;

  p {
    color: white;
    max-width: 500px;
    display: block;
    margin: auto;
  }
}

#first-suit {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.65)), url(../images/dress.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#second-rack {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.65)), url(../images/rack.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#third-spool {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.65)), url(../images/spool.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.services {

  .row {
    div {
      min-height: 150px;
    }
  }
  div {
    text-align: center;
  }

  p {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  i {
    font-size: 500%;
    color: $primary-color;
  }

  .ion-ios-snowy:before { transform: scale(1.6); }

  h4 {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
  }
}

.our-community {
  img {
    height: 130px;
    display: block;
    margin: 0 auto;
  }

  p {
    max-width: 700px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .row {
    margin-bottom: 20px;
  }
}

.contact-us {
  iframe {
    width: 100%;
    min-height: 1200px;
  }

  h4 {
    margin-bottom: 3px;
  }

  p {
    font-size: 120%;
  }
}

.our-location {
  padding: 0;
  margin-bottom: 0;
  border-top: 2px solid $primary-color;

  iframe {
    width: 100%;
    height: 300px;
    pointer-events: none;
  }

}

// Breakpoints

@media only screen and (max-width: 768px) {
  #kyong-box {margin-top: 20px}

  .row {
    div {
      margin-top: 20px;
    }
  }
}
